/.vs/
/*.suo
/*/Content/
/*/Scripts/
/*/wwwroot/Scripts/
/*/.vs
/*/node_modules
/build/
/*/bin/
/*/obj/
/packages/
/tools/packages/

bin/
obj/
/.fake/
/paket-files/
/.vscode/
websharper.log
