/.vs/
/*.suo
/*.Sample/Content/
/*.Sample/Scripts/
/*.Sample/wwwroot/Scripts/
/*.Sample/.vs
/*.Sample/node_modules
/build/
/*/bin/
/*/obj/
/packages/
/tools/packages/

bin/
obj/
/.fake/
/paket-files/
/.vscode/
websharper.log
